<div class="upper-container">
  <h2>Create any list of your favourite movies!</h2>
</div>

<div class="lists-container">
  <h4>My Lists</h4>
  <%= link_to "Create a movie list", new_list_path, class: "button-index" %>
  <br>
</div>
<div class="card-index">
  <% @lists.each do |list| %>
        <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : asset_path('list_background.jpg') %>)">
        <%=link_to list.name, list_path(list)%>
        </div>
      <% end %>
</div>
