<div class="upper-container">
  <h2>Create any list of your favourite movies!</h2>
</div>

<div class="lists-container">
  <h4>My Lists</h4>
  <%= link_to "Create a movie list", new_list_path, class: "button-index" %>
  <br>
</div>
<% @lists.each do |list| %>
        <%=link_to list.name, list_path(list)%>
      <% end %>
