<div class="container-new-form">
  <div class="page-split">
    <div class="column-form-left">
      <h1 class="new-form-title">Lets create your ultimate, new and amazing movie list!</h1>
    </div>
      <div class="column-form-right">
        <div class="form-new">
            <%= simple_form_for(@list) do |f| %>
              <%= f.input :name, placeholder: 'For ex. "Action" or "Thriller"', input_html: {class: "name-form"} %>
              <%= f.input :photo, as: :file, input_html: {class: "photo-form"} %>
              <%= f.button :submit, class: "btn btn-dark" %>
            <% end %>
        </div>
      </div>
  </div>
</div>
