// Specific CSS for your home-page

// CSS palette
// #000000 - black
// #282A3A - night
// #735F32 - brown
// #C69749 - desert yellow

// --- NAV BAR CSS ---

.topnav {
    background-color: #000;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .active{
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Alexandria', sans-serif;
  }

  .topnav-right {
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Alexandria', sans-serif;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ffffff;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #735F32;
    color: white;
  }

// --- NAV BAR CSS END ---


  // Style for the body of the site
.body-class {
background-color: #C69749
};
