// Specific CSS for your home-page

// CSS palette
// #000000 - black
// #282A3A - night
// #735F32 - brown
// #C69749 - desert yellow

// --- NAV BAR CSS ---

.topnav {
    background-color: #000;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .active{
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Alexandria', sans-serif;
  }

  .topnav-right {
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Alexandria', sans-serif;
    transition: 0.3s;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ffffff;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #735F32;
    color: white;
  }

// --- NAV BAR CSS END ---


// Style for the body of the site
.body-class {
background-color: #C69749
};


//Card Components
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.75)
}

.card-category a {
  color: white;
  text-decoration: none;
  background-color: #000;
  font-family: 'Alexandria', sans-serif;
  padding: 0px 9px;
  box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
}

.card-category a:hover {
  background-color: #ffffff;
  color: black;
}

.card-large {
  height: 50vh;
  max-height: 400px;
}


// FOOTER CSS
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #735F32;
    text-align: center;
    font-family: 'Alexandria', sans-serif;
    font-style: italic;
  }

  .footer a {
    text-decoration: none;
    color: white;
    margin: 13px;
    display: block;
  }
