.upper-container {
display: flex;
margin: 20px 0px 0px 0px;
align-items: center;
flex-direction: column

};

.lists-container {

display: flex;
margin: 20px 0px 0px 0px;
align-items: center;
flex-direction: column
};
