.container-list-show {
display: flex;
align-items: center;
margin: auto 0;
height: 1px 0px 1px 0px;
width: 1px 0px 1px 0px;

}

.header-list-title {
  display: flex;
  margin: auto 0;
}

.bookmarks-title-show {
display: flex;
}
