.list-show-header {
  display: flex;
  flex-direction: column;
  height: 307px;
  margin-bottom: 50px;
  box-shadow:0px 1px 1px #000000;
}

.list-pic-header {
  display: flex;
  background-position: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  padding: 190px;
  max-width: 100%;
  max-height: 100%;
}

.list-show-header h1 {
display: flex;
justify-content: center;
margin: 120px 30px 70px 30px;
padding: 10px;
font-weight: bold;
font-family: 'Alexandria', sans-serif;
color: #ffffff;
text-shadow: 2px 2px #74582b;
background-color: #000000;
border-radius: 5px;
}

.container-list-show {
display: flex;
align-items: center;
margin: 70px;
flex-direction: column;
}

.header-list-title {
  display: flex;
  margin: auto 0;
}

.bookmarks-title-show {
display: flex;
}

.bookmarks-title-show h2 {
  font-weight: bold;
font-family: 'Alexandria', sans-serif;
}

.bookmark-list-card {
display: flex;
}

.card-category-1 {

}

.card-large-1 {
  display: flex;
  max-height: 80vh;
}

.review-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px 0px 0px 0px;
}

.review-list {
display: flex;
}

.create-review {
display: flex;
}
