 .lists-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto 0px;
 };

 .header-lists {
    display: flex;
    color: #000;
    align-items: center;
    margin: 40px 0px 0px 40px;
 };

 .header-lists > h1 {
    font-family: 'Alexandria', sans-serif;
 };

 .create-list-class {
    display: flex;
 }
